.gradle
.idea
.architectury-transformer

/build/

/fabric/run/
/fabric/build/
/fabric/.gradle

/neoforge/run/
/neoforge/build/
/neoforge/.gradle

/forge/run/
/forge/build/
/forge/.gradle

/common/run/
/common/build/
/common/.gradle